* {
  box-sizing: border-box;
}

body,
html {
  font-family: open sans, sans-serif;
  height: 100%;
  margin: 0;
}
.tab-div {
  width: 100%;
}

.tablink {
  background-color: #F2F2F2;
  color: #666666;
  border: 1px solid #D1D2D3;
  /* outline: none; */
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
  margin: -2px;
}

.tabcontent {
  border: 3px solid yellowgreen;
  display: flex;
      padding: 20px;
}

.img-placeholder {
  border: 1px solid red;
  width: 37%;
  height: 400px;
  background-color: #F2F2F2;
}

.title-and-description {
  border: 1px solid blue;
  width: 63%;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 20px;
}

