body,
html {
  height: 100%;
  margin: 0;
}

.tablink {
  background-color: #F2F2F2;
  color: #666666;
  float: left;
  border: 1px solid #D1D2D3;
  outline: none;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tabcontent {
  display: inline-block;
}

.img-placeholder {
  display: inline-block;
  margin-top: 4vh;
  margin-left: 4vw;
  width: 35vh;
  height: 40vh;
  background-color: #F2F2F2;
}

.title-and-description {
  display: inline-block;
  width: 55vh;
}