* {
  box-sizing: border-box;
}

body,
html {
  font-family: open sans, sans-serif;
  height: 100%;
  margin: 0;
}

.tab-div {
  width: 100%;
}

h3 {
  font-weight: 600;
}

.tablink {
  background-color: #F2F2F2;
  color: #666666;
  border: 1px solid #D1D2D3;
  /* outline: none; */
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
  margin: -2px;
}

.tabcontent {
  border: 3px solid yellowgreen;
  text-align: center;
  padding: 20px;
}

#without-lower-button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 2px solid magenta;
}

.img-placeholder {
  border: 1px solid red;
  width: 37%;
  height: 330px;
  background-color: #F2F2F2;
}

.title-and-description {
  border: 1px solid blue;
  width: 63%;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 20px;
  text-align: left;
}

#view-code-button {
  background-color: #2F2235;
  color: white;
  width: 35%;
  height: 5%;
  margin-top: 60px;
  padding: 14px 16px;
  font-size: 17px;
  font-weight: inherit;
}

p {
  margin: 10px;
}

.hidden {
  display: none;
}

@media screen and (max-width: 660px) {
  .tablink {
    width: 100%;
  }

  #without-lower-button {
    flex-direction: column;
  }

  .img-placeholder {
    width: 100%;
    height: 200px;
  }

  .title-and-description {
    width: 100%;
  }

  .tab-div {
    display: none;
  }

  .view-code-wrapper {
    padding: 0 20px;
  }

  #view-code-button {
    width: 100%;
    margin-top: 30px;
  }
}